<a href="https://colab.research.google.com/github/owen-shaffer/DataScience-Project/blob/main/DSSProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
! git clone https://github.com/owen-shaffer/DataScience-Project

Cloning into 'DataScience-Project'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 27 (delta 7), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (27/27), 2.39 MiB | 4.39 MiB/s, done.
Resolving deltas: 100% (7/7), done.

In [33]:
import json
import csv
import pandas as pd
import sqlite3

with open('/content/DataScience-Project/AnimalDiversityNewYork.json', 'r') as f:
    animal_json = json.load(f)
    df = pd.DataFrame(animal_json['data'])
    #remove first 7 columns
    df = df.drop(df.columns[0:8], axis=1)
    df.head()
#Conversion

choice = input("Want to convert your data to csv (1) or sql (2)")
if choice == '1':
  df.to_csv('AnimalDiversityNewYork.csv')
if choice == '2':
  df.to_sql('AnimalDiversityNewYork.db', con=sqlite3.connect('AnimalDiversityNewYork.db'))


with open('/content/DataScience-Project/SanFranPlastic.csv', 'r') as s:
    df = pd.read_csv(s)

choice = input("Want to convert your data to json (1) or sql (2)")
if choice == '1':
  df.to_json('SanFranPlastic.csv')
if choice == '2':
  df.to_sql('SanFranPlastic.db', con=sqlite3.connect('SanFranPlastic.db'))

Want to convert your data to csv (1) or sql (2)1
Want to convert your data to json (1) or sql (2)2

ValueError: Table 'SanFranPlastic.db' already exists.